<!DOCTYPE HTML>

{% load static %}

<html lang="es">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollgress.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/jquery.slidertron.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-layers.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/getPeliculasEnCartelera.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/skel.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}"/>
</head>
<body>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <div id = "titulo">
        <h1>Cines IEXA</h1>
        <img id="logo" src="https://th.bing.com/th/id/OIP.v4H1EKqfeqxG4hf1G_t7MQHaFj?rs=1&pid=ImgDetMain" alt="logoCine" height="75px">
    </div>
    
    <nav id="nav">
        <ul>
            <li><a href="{% url 'index' %}">Todas las listas</a></li>
            <li>
                <a href="" class="icon fa-angle-down">Listas</a>
                <ul id = "sublista">
                    <li><a href= "{% url 'lista_provincias' %}">Lista Provincias</a></li>
                    <li><a href="{% url 'lista_cines' %}">Lista Cines</a></li>
                    <li><a href="{% url 'lista_salas' %}">Lista Salas</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        {% block title %}
        {% endblock %}
    </header>
    <div class="container">

        <!-- Content -->
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

    <!-- Peliculas -->
    <section>
        <button onclick="fetchNowPlayingMoviesSpain()">Ver Peliculas en Cartelera</button>
        <div id="movieResults"></div>
    </section>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        {# TODO: Implementar correctamente todos los link #}
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <span class="copyright">
			&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>	
    </span>
</footer>

</body>
</html>