{% extends "base.html" %} 

    {% block title %}
    <h1>Detalle de la Sala</h1>
    {% endblock %}

{% block content %}
    <h2 class="h2"><strong>Número de Sala:</strong>&nbsp; {{ sala.numero_sala }}</h2>
    <img src="{{ sala.url_imagen }}" alt="Sala {{ sala.numero_sala }}" style="width: 300px; height: auto;">
    <p><strong>Capacidad:</strong>&nbsp; {{ sala.capacidad }}</p>
    <p>
        <strong>Cine:</strong>&nbsp;
        <a href="{% url 'detalle_cine' sala.cine.id_cine %}">
                    {{ sala.cine.nombre_cine }}
        </a>
    </p>
    <p><strong>Dirección del Cine:</strong>&nbsp; {{ sala.cine.direccion }}</p>
{% endblock %}