{% extends "base.html" %}    
    
    {% block title %}
    <h1>Detalle de Provincia</h1>
    {% endblock %}

{% block content %}
    <h2 class="h2">{{ provincia.nombre_provincia }}</h2>
    <p><strong>Código Postal:&nbsp;</strong> {{ provincia.codigo_postal }}</p>

    <h3>Cines en esta provincia:</h3>
    {% if provincia.cines.all%}
        <ul class="listaUl">
            {% for cine in provincia.cines.all %}
                <li>
                    <a href="{% url 'detalle_cine' cine.id_cine %}">
                        {{ cine.nombre_cine }}
                    </a>
                    &nbsp;(Dirección: {{ cine.direccion }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay cines disponibles en esta provincia.</p>
    {% endif %}
{% endblock %}
