<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indice listas</title>
</head>
<body>
    <h1>Pagina Principal</h1>

    <ul>
        <li><a href="{% url 'lista_provincias' %}">Lista de provincias</a><br></li>
        <li><a href="{% url 'lista_cines' %}">Lista de cines</a><br></li>
        <li><a href="{% url 'lista_salas' %}">Lista de salas</a><br></li>
    </ul>
    
    
    

</body>
</html>
