{% extends "base.html" %} 

    {% block title%}
    <h1>Lista de Cines</h1>
    {% endblock %}

    {% block content %}
    {% if lista_cines %}
        <ul class="listaUl">
            {% for cine in lista_cines %}
                <li>
                    <a href="{% url 'detalle_cine' cine.id_cine %}">
                        {{ cine.nombre_cine }}
                    </a>&nbsp; 
                    Dirección: {{ cine.direccion }}&nbsp;
                    Provincia: {{ cine.provincia.nombre_provincia }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay provincias disponibles.</p>
    {% endif %}
    {% endblock %}