<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cines</title>
</head>
<body>
    <h1>Lista de Cines</h1>
    
    {% if lista_cines %}
        <ul>
            {% for cine in lista_cines %}
                <li>
                    <a href="{% url 'detalle_cine' cine.id_cine %}">
                        {{ cine.nombre_cine }}
                    </a> 
                    Dirección: {{ cine.direccion }}<br>
                    Provincia: {{ cine.provincia.nombre_provincia }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay provincias disponibles.</p>
    {% endif %}

    <a href="{% url 'lista_provincias' %}">Volver a la lista de provincias</a>
</body>
</html>


