{% extends "base.html" %} 

    {% block title  %}
    <h1>Lista de Provincias</h1>
    {% endblock %}

    {% block content %}
    {% if lista_provincias %}
        <ul class="listaUl">
            {% for provincia in lista_provincias %}
                <li>
                    <a href="{% url 'detalle_provincia' provincia.id_provincia %}">
                        {{ provincia.nombre_provincia }}
                    </a> &nbsp;
                    (Código postal: {{ provincia.codigo_postal }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay provincias disponibles.</p>
    {% endif %}
{% endblock %}